In [1]:
import pandas as pd
import numpy as np
import os

from services.tables.create_master_table import master_df_encoded, employee_info_df

ğŸ”§ [DEV MODE] ê°œë°œ ëª¨ë“œ í™œì„±í™”:
   - ì§ì› ìˆ˜: 1000ëª…
   - ë‚ ì§œ ë²”ìœ„: 2020-01-01 ~ í˜„ì¬
   - ì˜ˆìƒ ë¡œë”© ì†ë„: í”„ë¡œë•ì…˜ ìˆ˜ì¤€ (ëŒ€ìš©ëŸ‰ ë°ì´í„°)

/app/src/services/tables/Time_Attendance/detailed_working_info_table.py:80: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['IS_VACATION'] = df['IS_VACATION'].fillna(False).astype(bool)
/app/src/services/tables/create_master_table.py:292: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  eval_trend = eval_df.groupby('EMP_ID').apply(calculate_trend).reset_index(name='EVAL_SCORE_TREND')
/app/src/services/tables/create_master_table.py:305: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['EVAL_SCORE_1Y'].fillna(master_df['EVAL_SCORE_1Y'].median(), inplace=True)
/app/src/services/tables/create_master_table.py:307: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  master_df['EVAL_SCORE_2Y'].fillna(master_df['EVAL_SCORE_2Y'].median(), inplace=True)

In [2]:
output_dir = '/app/src/services/tables/'

master_df_encoded.to_csv(os.path.join(output_dir, 'master_df_encoded.csv'), index=False, encoding='utf-8-sig')
employee_info_df.to_csv(os.path.join(output_dir, 'employee_info_df.csv'), index=False, encoding='utf-8-sig')

In [3]:
master_df_encoded = pd.read_csv('/app/src/services/tables/master_df_encoded.csv')
master_df_encoded

,ì‚¬ë²ˆ,ì¬ì§ì—¬ë¶€,ë‚˜ì´,ì¬ì§ì¼ìˆ˜,í‡´ì‚¬ìì—¬ë¶€,ì…ì‚¬ì‹œë‚˜ì´,ì¬ì§ëŒ€ë¹„ë‚˜ì´ë¹„ìœ¨,ì´ì „ê²½ë ¥ì¼ìˆ˜,ì´ì „íšŒì‚¬ìˆ˜,ê´€ë ¨ê²½ë ¥ë¹„ìœ¨,...,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Engineering,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Finance,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_HR,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Infrastructure,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Marketing,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Production Management,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_SW Developer,í˜„ì¬ì§ë¬´_ì¤‘ë¶„ë¥˜_Sales,í˜„ì¬ì§ìœ„_Manager,í˜„ì¬ì§ìœ„_Staff
0,E00001,N,44,2063,1,32.465435,0.128368,817.0,3.0,0.333333,...,False,False,False,False,False,False,False,False,True,False
1,E00002,Y,28,2016,0,23.063655,0.197125,0.0,0.0,0.000000,...,False,False,False,False,False,False,False,True,True,False
2,E00003,Y,44,1409,0,40.755647,0.087673,1870.0,2.0,0.000000,...,False,True,False,False,False,False,False,False,True,False
3,E00004,Y,31,282,0,30.943190,0.024906,208.0,1.0,1.000000,...,False,False,False,False,False,False,False,False,False,True
4,E00005,N,40,1150,1,29.927447,0.078713,0.0,0.0,0.000000,...,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E00996,N,35,417,1,33.289528,0.032620,1345.0,2.0,0.000000,...,False,False,False,False,False,False,False,False,True,False
996,E00997,Y,32,1323,0,28.462697,0.113193,0.0,0.0,0.000000,...,False,False,False,False,False,False,False,True,True,False
997,E00998,N,26,819,1,23.230664,0.086242,1105.0,1.0,0.000000,...,False,False,False,False,False,False,False,True,False,True
998,E00999,Y,36,4708,0,23.520876,0.358050,139.0,1.0,0.000000,...,False,False,False,False,False,False,False,False,True,False
999,E01000,Y,37,215,0,37.207392,0.015909,0.0,0.0,0.000000,...,False,False,False,False,False,False,False,False,False,True

In [4]:
employee_info_df = pd.read_csv('/app/src/services/tables/employee_info_df.csv')
employee_info_df

,ì‚¬ë²ˆ,ì´ë¦„,ì…ì‚¬ì¼ì,ì†Œì† ë³¸ë¶€,ì†Œì† ì‹¤,ì§ë¬´ ëŒ€ë¶„ë¥˜,ì§ë¬´ ì¤‘ë¶„ë¥˜,í˜„ì¬ ê³„ì•½ì—°ë´‰,ì¶œì‹ í•™êµ,ì¶œì‹ ì „ê³µ,ê²½ë ¥ ì…ì‚¬ ì—¬ë¶€,í˜„ì¬ ë¶€ì„œ ì†Œì† ì¼ìˆ˜,ê·¼ë¬´ ìœ„ì¹˜
0,E00001,ê¹€ìˆ˜ë¯¼,2014-04-28,Planning Division,Strategy Office,Planning,Business Planning,65100000,Sorbonne University,ì‚¬íšŒê³¼í•™ê³„ì—´,ê²½ë ¥,242,ë³¸ì‚¬
1,E00002,ì†¡ì§€ë¯¼,2020-07-07,Sales Division,Domestic Sales Office,Sales & Marketing,Sales,69300000,ë¶€ì‚°ê³¼í•™ê¸°ìˆ ëŒ€í•™êµ,ìƒê²½ê³„ì—´,ì‹ ì…,1018,ë³¸ì‚¬
2,E00003,ì´ì¢…ìˆ˜,2022-03-06,Planning Division,Strategy Office,Management Support,Finance,63700000,ëª…ì§€ëŒ€í•™êµ,ê¸°íƒ€ê³µí•™ê³„ì—´,ê²½ë ¥,652,ë³¸ì‚¬
3,E00004,ì´ì€ì„œ,2025-04-06,Planning Division,Finance Office,IT,Data Scientist,41600000,ì¶©ë‚¨ëŒ€í•™êµ,STEMê³„ì—´,ê²½ë ¥,282,ë³¸ì‚¬
4,E00005,ìµœì˜ˆì§€,2014-12-27,Operating Division,Engineering Office,Production & Engineering,Production Management,38800000,ëŒ€êµ¬ê²½ë¶ê³¼í•™ê¸°ìˆ ì›,ì–´ë¬¸ê³„ì—´,ì‹ ì…,598,ë³¸ì‚¬ ì™¸
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E00996,í—ˆí˜œì§„,2023-08-15,Operating Division,Engineering Office,Planning,Business Planning,56400000,ì•ˆë™ëŒ€í•™êµ,ë””ìì¸ê³„ì—´,ê²½ë ¥,417,ë³¸ì‚¬ ì™¸
996,E00997,ì˜¤ë¯¼ìˆ˜,2022-05-31,Sales Division,Domestic Sales Office,Sales & Marketing,Sales,51100000,"University of California, Berkeley (UCB)",ê¸°íƒ€,ì‹ ì…,835,ë³¸ì‚¬
997,E00998,í™ì§€ìš°,2023-01-13,Sales Division,Domestic Sales Office,Sales & Marketing,Sales,56500000,í•œì–‘ì—¬ìëŒ€í•™êµ,ì‚¬íšŒê³¼í•™ê³„ì—´,ê²½ë ¥,819,ë³¸ì‚¬
998,E00999,ì„œì§€ì€,2013-02-22,Development Division,R&D Office,Planning,Business Planning,81000000,Harvard University,ìì—°ê³¼í•™ê³„ì—´,ê²½ë ¥,2934,ë³¸ì‚¬
999,E01000,ì´ì„±í›ˆ,2025-06-12,Development Division,R&D Office,Planning,Business Planning,45900000,ì¶©ë‚¨ëŒ€í•™êµ,STEMê³„ì—´,ì‹ ì…,215,ë³¸ì‚¬

In [5]:
master_df_encoded[['í˜„ì¬ë¶€ì„œì†Œì†ì¼ìˆ˜', 'ì‚¬ë²ˆ']]

     í˜„ì¬ë¶€ì„œì†Œì†ì¼ìˆ˜      ì‚¬ë²ˆ
0         242  E00001
1        1018  E00002
2         652  E00003
3         282  E00004
4         598  E00005
..        ...     ...
995       417  E00996
996       835  E00997
997       819  E00998
998      2934  E00999
999       215  E01000

[1000 rows x 2 columns]